body {
  font-family: Roboto;
  color: rgba(33, 33, 33, 1); sans-serif}


/* ХЕДЕР */
.logo {font-family: 'Raleway'; sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: #2196F3; }
.studio-black { color: 
rgba(33, 33, 33, 1);} 

.header-nav-link .nav-link {
font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em; color: 
rgba(33, 33, 33, 1);}

.header-nav-link .nav-link:hover,
.button-link-portfolio .link-portfolio:focus {color: rgba(33, 150, 243, 1); font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;}


.heder-contakt-link .contakt-link {color: rgba(117, 117, 117, 1); font-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;
}
.heder-contakt-link .contakt-link:hover, .heder-contakt-link .contakt-link :focus {color: rgba(33, 150, 243, 1); ffont-weight: 500;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.02em;}

/* STUDIO */
.studio-ha  { color:rgba(255, 255, 255, 1);font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;}

/* FOOTER */
.studio-button {color: rgba(33, 33, 33, 1);background-color: rgba(245, 244, 250, 1);font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;}
.studio-button:hover, .studio-button :focus {color: rgba(255, 255, 255, 1); background-color: rgba(33, 150, 243, 1); font-weight: 700;
font-size: 16px;
line-height: 1.9;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em}

.studio-hc {font-weight: 700;
font-size: 14px;
line-height: 1.15;
letter-spacing: 0.03em;
text-transform: uppercase;
 }

.studio-p {font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em; color: rgba(117, 117, 117, 1);}

.studio-hb {font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;}

.studio-name {font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em; }

.studio-work {font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;; color: rgba(117, 117, 117, 1);}


/* PORTFOLIO */

.button-link-portfolio .link-portfolio {color: rgba(33, 33, 33, 1);background-color: rgba(245, 244, 250, 1); font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;}

.button-link-portfolio .link-portfolio:hover,
.button-link-portfolio .link-portfolio:focus {color: rgba(255, 255, 255, 1); background-color: rgba(33, 150, 243, 1); font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em}

.portfolio-h {font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;}

.portfolio-p {font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;; color: 
    rgba(117, 117, 117, 1);}
/* FOOTER */
